<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="Orion" providerName="System.Data.SqlClient"
			connectionString="Server=172.19.10.166,1433;Database=demobase1_20_3_7;User Id=sa;Password=Wen76Coda;" />
	</connectionStrings>
</configuration>